# Node modules
node_modules/

# Cypress configuration
cypress/videos/
cypress/screenshots/
cypress/reports/

# Log files
*.log

# Environment variables
.env

# Build output
dist/
build/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# IDE configurations
.vscode/
.idea/

# Miscellaneous
*.swp
*.swo
*.tmp
*.bak
*.orig
*.sublime-workspace
*.sublime-project
